{% extends 'base.html' %}

{% block content %}
<div>
    <h1 style="width: 100%">{% block title %} Crate a new car {% endblock %}</h1>
    <form method="post" >
        <div class="mb-3">
            <input type="text" class="form-control" name="model" placeholder="Model">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" name="producer" placeholder="Producer">
        </div>
        
        <div class="mb-3">
            <input type="number" class="form-control" name="production_year" placeholder="Production Year">
        </div>
        
        <div class="mb-3">
            <input type="number" class="form-control" name="horsepower" placeholder="Horsepower">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" name="drive" placeholder="Drive">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" name="fuel" placeholder="Fuel">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" name="color" placeholder="Color">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" name="gearbox" placeholder="Gearbox">
        </div>
        
        <div class="mb-3">
            <input type="text" class="form-control" name="owner" placeholder="Owner Id">
        </div>
        
        <div class="mb-3">
        <button type="submit" class="btn btn-outline-primary">Create Car</button>
        </div>
        
    </form>
</div>
{% endblock %}
