{% extends "base.html"%}
{% block title %}car {{ car.id }}{% endblock%}
{% block header %}car {{ car.id }}{% endblock%}
{% block content %}
        <strong>Model:</strong> {{ car.model }}<br>
        <strong>Producer:</strong> {{ car.producer }}<br>
        <strong>Production Year:</strong> {{ car.production_year }}<br>
        <strong>Horsepower:</strong> {{ car.horsepower }}<br>
        <strong>Drive:</strong> {{ car.drive }}<br>
        <strong>Fuel:</strong> {{ car.fuel }}<br>
        <strong>Color:</strong> {{ car.color }}<br>
        <strong>Gearbox:</strong> {{ car.gearbox }}<br>
        <a href="/" class="btn btn-warning">Go back</a>
        <a href="/details/{{ car.id }}/edit" class="btn btn-success">Edit</a>
        <form  method="POST" action="{{ url_for('delete', car_id=car.id ) }}">
        <input class= "btn btn-danger" type="submit" value="Delete Car" onclick="return confirm('Are you sure you want to delete this entry?')"></form>
        <a href="/details/{{ car.id }}/share" class="btn btn-primary">Share</a>
{% endblock %}