{% extends "base.html" %}

{% block content %}
<div>
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="mb-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Login Email" autofocus="">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="Login Password">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="remember">
                <label class="form-check-label" for="remember">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}